* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.circle {
    border: 20px solid #c5b8b8;
    border-top-color: var(--color);
    border-radius: 1000px;
    width: 150px;
    aspect-ratio: 1/1;

    animation: loading 0.5s linear infinite ;
    --color: rgb(155, 131, 87);
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}