* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

@keyframes rotate {
    20% {
        rotate: 45deg ;
    }
    40% {
        rotate: 180deg;
    }
    60% {
        rotate: 270deg;
    }
    80% {
        rotate: 315deg;
    }
    100% {
        rotate: 360deg;
    }
}

.container div {
    width: 30px;
    height: 30px;

    animation: rotate 2s ease-in-out 0s infinite;
}