* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}

label {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    border: 5px solid;
    display: flex;
    padding: 2px 3px;
}

label div {
    width: 37px;
    height: 100%;
    border-radius: 40px;
    background-color: black;

    /* interpolate-size: allow-keywords; */

    /* transition: margin-left 0.5s ease-in-out; */
    transition: transform .5s ease-in-out;
}

input {
    display: none;
}

input:checked+div {
    /* margin-left: 50px; */
    transform: translate(47px);
}