* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

@keyframes loading {
    50% {
        width: 27px;
        height: 27px;
        background-color: rgb(161, 155, 155);
    }
}

.container div {
    width: 30px;
    height: 30px;
    border-radius: 3000px;
    background-color: rgb(107, 99, 99);

    animation: loading alternate 2s ease-in-out 0s infinite;
}