:root {
    --body-background: hsl(0, 0%, 8%);
    --card-background: hsl(0, 0%, 12%);
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --hover-states: hsl(75, 94%, 57%);
    --links-background: hsl(0, 0%, 20%);
    --hover-text: #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    color: #fff;
    background-color: var(--body-background);
}

.card-container {
    width: 375px;
    padding: 2rem 1rem;
    border-radius: 10px;

    background-color: var(--card-background);
}
.top-div {
    text-align: center;
}

.img-div {
    width: 100px;
    height: 100px;
    margin: 0 auto 1rem;
}
.img-div,
.img-div img {
    border-radius: 300px;
}
.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    font-size: 20px;
    font-weight: bold;
}
.location {
    color: var(--hover-states);
    margin: .7rem 0 1rem;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.social-links {
    padding: 5px 0;
    border-radius: 3px;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:active {
    color: var(--hover-text);
}

.social-links,
.day {
    background-color: var(--links-background);

    transition: background-color 1s ease-in-out;
}
.social-links:hover,
.activity:hover,
.social-links:active,
.activity:active {
    background-color: var(--hover-states);
}

.socials a {
    padding: 0 10px;
}


.daily-text {
    text-align: center;
}
.streak-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2px;
}
.day{
    width: 100px;
    text-align: center;
    margin: 5px;
    padding: 5px 0;
    border-radius: 3px;
}
.day a {
    padding: 0 20px;
}